@import "../base/vars";
@import "../components/mixins";

.main-products-container {
    grid-area: main;
    padding-top: 20px;
    padding-bottom: 70px;
    //margin-top: 20px;
    //margin-bottom: 70px;

    display: grid;
    grid-gap: 20px;
    justify-content: center;
    grid-template-rows: auto auto;

    
    .main-sections-banner-first {
        .sections-banner-first {}
    }

    .main-section-products {
        
        .section-product-container {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
            
            .card-product {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .gallery-product-link {
                    .card-product-img {}
                    .card-product-title {}
                }
            }
        }
    }
}
