@import "../base/vars";




@media (max-width: $default-with-limit-one) {
    .main-products-container {  
        .main-sections-banner-first {
            .sections-banner-first {
            }
        }
        .main-section-products {   
            .section-product-container {                
                .card-product {
                    .gallery-product-link {
                        .card-product-img {}
                        .card-product-title {}
                    }
                }
            }
        }
    }
}

@media (max-width: $default-with-limit-two) {
    .main-products-container {  
        .main-sections-banner-first {
            .sections-banner-first {}
        }
        .main-section-products {   
            .section-product-container {                
                .card-product {
                    .gallery-product-link {
                        .card-product-img {}
                        .card-product-title {}
                    }
                }
            }
        }
    }
}


@media (max-width: $default-with-limit-three) {
    .main-products-container {
        margin-top: 0px;
        .main-sections-banner-first {
            .sections-banner-first {
                width: $default-width-percent;
            }
        }
        .main-section-products {   
            .section-product-container {                
                .card-product {
                    .gallery-product-link {
                        .card-product-img {}
                        .card-product-title {}
                    }
                }
            }
        }
    }
}


@media (max-width: $default-with-limit-five) { 
    .main-products-container {
        .main-sections-banner-first {
            .sections-banner-first {
                width: $default-width-percent;
            }
        }
        .main-section-products {   
            .section-product-container {                
                .card-product {
                    .gallery-product-link {
                        .card-product-img {}
                        .card-product-title {}
                    }
                }
            }
        }
    }
}
