
@import "../base/vars";



@media (max-width: $default-with-limit-two) { 
    .main-product-details-container {
        .section-carousel-events {}

        .section-product-details {
            .section-product-details-container {
                display: flex;
                gap: 60px;
                flex-direction: column;
                .product-details-img {
                    .product-details-box-img-small {}
    
                    .product-details-box-img-medium {
                        ._product-details-box-img-medium {}
                    }
                }

                .product-defails-box {}
            }
        }
    }

}

@media (max-width: $default-with-limit-four) { 
    .main-product-details-container {
        .section-carousel-events {}
    
        .section-product-details {
            .section-product-details-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .product-details-box-img-small {}
    
                .product-details-box-img-medium {
                    ._product-details-box-img-medium {}
                }
    
                .product-defails-box {
                    .box-title {}
    
                    .box-price {
                        span {}
                    }
    
                    .box-size {
                        span {}
                    }
    
                    .box-details { }
    
                    .box-about { }
                }
    
            }
        }

        .section-carousel-selector {

            .section__carousel--container {
                .section__carousel--item-list {
                    .glider-track {
                    }
                    .glider-slide {
                       width: 150px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: $default-with-limit-five) { 
    .main-product-details-container {
        .section-carousel-events {}
    
        .section-product-details {
            .section-product-details-container {

                .product-details-img {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .product-details-box-img-small {
                        display: flex;
                        gap: 5px;
                        flex-direction: row;
                        
                        .box-mini-img {
                            img:last-child {
                                //display: none;
                            }
                        }
                    }
        
                    .product-details-box-img-medium {
                        ._product-details-box-img-medium {}
                    }
                }

                
    
                .product-defails-box {
                    .box-title {}
    
                    .box-price {
                        span {}
                    }
    
                    .box-size {
                        span {}
                    }
    
                    .box-details { }
    
                    .box-about { }
                }
    
            }
        }

        .section-carousel-selector {
            .section__carousel--container {
                width: $default-product-details-width-carousel-movile;
                .section__carousel--item-list {
                    width: $default-product-details-width-carousel-movile;
                    .glider-track {
                        //width: $default-product-details-width-carousel-movile;
                    }
                    .glider-slide {
                    }
                }
            }
        }
    }
}



@media (max-width: $default-with-limit-seven) { 
    .main-product-details-container {
        .section-carousel-events {}
    
        .section-product-details {
            .section-product-details-container {
                .product-details-img {
                    .product-details-box-img-small {                       
                        .box-mini-img {
                            img:last-child {}
                        }
                    }
                    .product-details-box-img-medium {
                        ._product-details-box-img-medium {}
                    }
                }

                .product-defails-box {
                    .box-title {}
                    .box-price {
                        span {}
                    }
                    .box-size {
                        span {}
                    }
                    .box-details { }
                    .box-about { }
                }
    
            }
        }

        .section-carousel-selector {
            .section__carousel--container {
                width: $default-product-details-width-carousel-movile-v2;

                .section__carousel--btn-left,
                .section__carousel--btn-right {
                    display: none;
                }
                .section__carousel--item-list {
                    width: $default-product-details-width-carousel-movile-v2;
                    .glider-track {
                        //width: $default-product-details-width-carousel-movile;
                    }
                    .glider-slide {
                    }
                }
            }
        }
    }
}