@import "../base/vars";


@media (max-width: $default-with-limit-four) {
    .header-container {
        position: fixed;
        .header-content {
            grid-area: header-content-mobile;
            .header-content-up {
                .header-content-up-logo {
                    position: fixed;
                    top: 12px;
                    left: 30px;
                }
                .header-content-up-search {
                    display: none;
                }
                .header-content-up-register {
                    display: none;
                }
            }

            .header-content-bottom {
                // https://dropcoding.com/menu-navegacion-responsive-html-css/
                #check {
                    appearance: none
                }
                .checkbtn {
                    display: block;
                    .menu-icon {
                        color: $header-content-bottom-link-font-color;
                        display: block;
                        position: fixed;
                        top: 20px;
                        right: 20px;
                        cursor: pointer;

                        width: 30px;
                        height: 30px;
                        border-radius: 2px;
                    }
                }
                #check:checked ~ ul {
                    left: 0;
                    transition: all .25s;    
                }

                ul {
                    display: block;
                    position: fixed;
                    top:70px;
                    left:-100%;
                    background: #202123;
                    width: 100%;
                    height: 100vh;
                    right: 0;

                    li {
                        padding: 2rem;
                        display: flex;
                        justify-content: center;
                        margin: 0;

                    }

                    li:last-child {
                        background: none;
                        padding: 1rem;
                    }
                }
            }
        }
    }
}


@media (max-width: $default-with-limit-five) {
    .header-container {
        .header-content {
            .header-content-up {
                .header-content-up-logo {}
                .header-content-up-search {}
                .header-content-up-register {}
            }

            .header-content-bottom {
                #check {}
                .checkbtn {
                    .menu-icon {}
                }
                #check:checked ~ ul {}

                ul {
                    .header-menu-hidden { display: list-item; }
                    li {}
                    li:last-child {}
                }
            }
        }
    }
}