@import "./vars";
@import "../components/mixins";

.main-product-details-container {
    grid-area: main;
    .section-carousel-events {
        background-color: #EBEBEB;
    }

    .section-product-details {
        margin-top: 20px;
        .section-product-details-container {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: 1fr 1fr;


            .product-details-img {
                display: flex;
                gap: 15px;
                .product-details-box-img-small {}

                .product-details-box-img-medium {
                    ._product-details-box-img-medium {
                        img {
                            width: 400px;
                            height: 500px;
                            object-fit: cover;
                        }
                    }
                }
            }

            

            .product-defails-box {
                .box-title {
                    h2 {
                        margin-bottom: 0;
                        @include font-setting(400, 1.5em);
                    }
                }

                .box-price {
                    span {
                        @include font-setting($default-product-pricing-font-weight, $default-product-pricingfont-size)
                    }
                }

                .box-size {
                    span {
                        @include font-setting($default-product-pricing-font-weight, $default-product-pricingfont-size)
                    }
                }

                .box-details {
                    span {
                        @include font-setting($default-product-pricing-font-weight, $default-product-pricingfont-size)
                    }
                    ul {
                        list-style: none;
                        @include font-setting(350, 1em);
                    }
                }

                .box-about {
                    span {
                        @include font-setting($default-product-pricing-font-weight, $default-product-pricingfont-size)
                    }
                }
            }

        }
    }

    .section-carousel-selector {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .section__carousel--container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
                        
            width: $default-product-details-width-carousel;
            position: relative;

            button {
                position: absolute;
                display: block;
                width: 30px;
	            height: 30px;
	            border: none;
	            top: calc(50% - 35px);
	            cursor: pointer;
	            line-height: 30px;
	            text-align: center;
	            background: none;
	            color: #474242;
	            opacity: 20%;
            }

            button:hover {
                opacity: 100%;
            }
            .section__carousel--btn-left {
                left: -20px;
            }
            .section__carousel--btn-right {
                right: -20px;
            }

            .section__carousel--item-list {
                display: flex;
                width: $default-product-details-width-carousel;
                .glider-track {
                    width: $default-product-details-width-carousel;
                }

                .section__carousel--item {
                    width: 130px;
                    height: 130px;
                    img {
                        @include object-fit-setting(90%, 100%, cover);
                    }
                }
            }
        }
    }
}