@import "./vars";
@import "../components/mixins";


@keyframes bg-animaton {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%;}
}

.main__container__register {
    grid-area: main;
    display: flex;
    align-items: center;
    flex-direction: column;

    background-image: linear-gradient(135deg
    ,#407e88, #505488, #586bb8, #696896
    ,#5a4894, #335f9d, #478074);
    background-size: 500%;
    animation: bg-animaton 10s infinite;
    
    
    .section-carousel-events {
        background-color: #EBEBEB;
    }
    
    .main__container__register--general {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-top: 60px;
        margin-bottom: 60px;
        .section__register {
            width: 80%;
            margin-bottom: 60px;


            .section__register--form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1 { color: $header-content-bottom-link-font-color; }
                .section__register--form--social {
                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                    margin-bottom: 10px;
                    button {
                        padding: 3px;
                        width: 200px;
                        border: 1px solid;
                        border-radius: 3px;
                    }
                }
                .seccion__register--from--subtitle {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    justify-content: space-between;              
                    
                    span {color: $header-content-bottom-link-font-color;}
                    hr {
                        width: 60px;
                        color: white;
                    }
                }
                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    margin-bottom: 10px;
                    .inputContainer {
                        display: flex;
                        gap: 10px;
                        flex-direction: column;
                        margin-bottom: 10px;
                        input {
                            padding: 3px 5px;
                            border: 1px solid;
                            border-radius: 3px;
                            width: 300px;
                        }
                        
                    }
                    .submitBtn {
                        border: 1px solid;
                        border-radius: 3px;
                        width: 40%;
                    }
                }

            }
            
        }

        .main-sections-banner-first {
            .sections-banner-first {
                height: 300px;
                .carousel-indicators {
                    
                }
                .carousel-inner {
                    height: 300px;
                    img {
                        @include object-fit-setting(100%, 100%, cover);
                    }
                }
                .carousel-control-prev {}
                .carousel-control-next {}
            }
        }
    }
}