@import "./vars";
@import "../components/mixins";


.main__container__register {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .section-carousel-events {
        background-color: #EBEBEB;
    }
    
    .main__container__register--general {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 60px;
        .section__register {
            width: 80%;
            margin-bottom: 60px;


            .section__register--form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .section__register--form--social {
                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                    margin-bottom: 10px;
                    button {
                        padding: 3px;
                        width: 200px;
                        border: 1px solid;
                        border-radius: 3px;
                    }
                }
                .seccion__register--from--subtitle {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    justify-content: space-between;              
                    
                    span {
                        //position: absolute;
                    }
                    hr {
                        width: 60px;
                        //position: relative;
                        //z-index: 1;
                    }
                }
                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    margin-bottom: 10px;
                    .inputContainer {
                        display: flex;
                        gap: 10px;
                        flex-direction: column;
                        margin-bottom: 10px;
                        input {
                            padding: 3px 5px;
                            border: 1px solid;
                            border-radius: 3px;
                            width: 300px;
                        }
                        
                    }
                    .submitBtn {
                        border: 1px solid;
                        border-radius: 3px;
                        width: 40%;
                    }
                }

            }
            
        }

        .section__register--carousel {
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                height: 46px;
                width: 46px;
                font-size: 1.2rem;
                text-align: center;
                line-height: 46px;
                cursor: pointer;
                border-radius: 50%;
                background-color: #EBEBEB;
            }
            .section__register--carousel--img {
                img {
                    height: 150px;
                    object-fit: cover;
                }
            }

        }
    }
}